@model Comedians.Models.Performer

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Name)
    @Html.EditorFor(m => m.Name)

    @Html.LabelFor(m => m.Genre)
    @Html.EditorFor(m => m.Genre)

    @Html.LabelFor(m => m.CountryOfOrigin)
    @Html.EditorFor(m => m.CountryOfOrigin)

    @Html.LabelFor(m => m.YearsActive)
    @Html.EditorFor(m => m.YearsActive)

    @Html.LabelFor(m => m.Biography)
    @Html.EditorFor(m => m.Biography)

    @Html.LabelFor(m => m.PictureUrl)
    @Html.EditorFor(m => m.PictureUrl)

    @Html.LabelFor(m => m.VideoUrl)
    @Html.EditorFor(m => m.VideoUrl)

    <input type="submit" value="Create" class="btn btn-default" />
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>